.discography{
  background-color: $main-background-color;
  &__list{
    width: 50%;
    margin-left: 15px;
  }
  &__title{
    font-size: 2.375rem;
    line-height: 2.875rem;
    padding: 100px 15px 0 15px;
    @include tablet {
      font-size: 3rem;
    }
  }
  &__break{
    margin-left:15px;
  }
  &__description{
    font-size: 1.375rem;
    padding: 30px 0 50px 15px;
    @include tablet {
      font-size: 1.5rem;
    }
  }
  &__article{
    //padding: 15px;
    @include desktop {
      display: flex;
    }
  }
  &__image{
    width: 100%;
    padding: 0 15px 15px 15px;
    @include tablet {
      width: 455px;
      margin: 0;
    }
    @include desktop {
      width: 555px;
      margin: 0;
    }
  }
  &__song{
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    &__element{
      display: flex;
      justify-content: center;
    }
  }
  &__underline{
    height: 2px;
    width: 100%;
    margin: 20px 0px;
    background-color: $accent-color;
  }
}
.song{

  &__title{
   margin-left: 20px;
  }
  &__icons{
    padding-right: 50px;
  }
  &__icon{
    color: $accent-color;
    padding: 0 15px;
  }
  &__drive{
    color: $accent-color;
  }
}